@model dynamic

@{
    ViewData["Title"] = "Login";
}

@if (Convert.ToString(ViewData["Error"]) != "") {
    <div class="alert alert-danger m-5" role="alert">
        @ViewData["Error"]
    </div>
}

<div class="d-flex flex-column justify-content-center align-items-center m-5">
	<h1 class="display-2">My Courses</h1>
</div>


<div class="cont">

@using (Html.BeginForm("", "Login", FormMethod.Post)) {

	<div class="d-flex flex-column justify-content-center align-items-center m-5 py-5" id="login-form">
		<h3 class="form-outline mb-3 display-6" >Login</h3>
		<p class="form-outline" style="color: #6c757d;">Enter your User Name and Password to Login</p>
		<hr>
		<div class="form-outline  w-50">
			<input type="text" class="form-control" name="UserName"/>
			<label class="form-label">User Name</label>
		</div>
		<div class="form-outline m-5 w-50">
			<input type="password" class="form-control" name="Password"/>
			<label class="form-label">Password</label>
		</div>

		<div class="form-group mb-5">
			<input type="submit" value="Login" class="btn btn-primary" />
		</div> 

	</div>

}

</div>

<style>
    header {
        display: none;
    }

	#login-form {
		max-width: 100%;
		border-style: solid;
		border-color: rgb(201, 196, 196);
		border-radius: 5%;
	}

	.cont {
		max-width: 36vw;
		margin: auto;
	}
</style>