@model online_course_platform.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

@if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Error"]))) {
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}


<h1 class="display-4">Create</h1>

<h3>User</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Users", FormMethod.Post))
        {
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        Credentials
                    </h5>
                    <div class="form-group mt-3 mb-3">
                        <label class="control-label">User Name</label>
                        <input name="UserName" class="form-control" type="text" maxlength="50" />
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label class="control-label">Password</label>
                        <input name="Password" class="form-control" type="password" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-titles">
                        Main Role
                    </h5>         
                        <div class="form-group mt-3 mb-3">
                        <label class="mb-2" class="control-label">Role</label>
                        <select class="form-select" aria-label="Default select example" name="Role">
                            <option value="Student">Student</option>
                            <option value="Instructor">Instructor</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-titles">
                        Personal Information
                    </h5>
                    <div class="form-group mt-3 mb-3">
                        <label class="control-label">First Name</label>
                        <input name="FirstName" class="form-control" type="text" maxlength="50" />
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label class="control-label">Last Name</label>
                        <input name="LastName" class="form-control" type="text" maxlength="50" />
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label class="mb-2" asp-for="Gender" class="control-label">Gender</label>
                        <select class="form-select" aria-label="Default select example" name="Gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label class="mb-2" asp-for="BirthDate" class="control-label">Birth Date</label>
                        <input name="BirthDate" class="form-control" type="date" max="2005-12-31" />
                    </div>
                </div>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div> 
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
